*, ::before ::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body,html {
height : 100%;

}

body {
    background : #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image:url('/image/FDroger.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden ;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #ff16c5;
}
.button3:hover {
    background-color: #ff16c5;
  color: white;
}